@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

body{
    font-family: 'Roboto', 'Varela Round', sans-serif;
    font-size: 18px;
    background: #fcfaf7;
}

/* BARRA LATERAL */
aside{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background: orange;
    height: 100dvh;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 13dvw;
    opacity: 1;
    transition: 0.5s ease-in-out;
    padding: 1rem;
}

aside img, .logo{
    width: 185px;
    height: 185px;
    border-radius: 90px;
}

.fecharLateral{
    background: #003289;
    color: #fcfaf7;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.linksOutrasPages{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
}

.linksOutrasPages a{
    text-decoration: none;
    background: #372100;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    font-weight: bold;
}

/* HEADER */
header{
    display: flex;
    background: #003289;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    background: #00ddff;
    position: absolute;
    left: 0;
    right: 0;
    top: 11dvh;
}

.links a{
    padding: 0.4rem;
    background: #1a1a1a;
    border-radius: 10px;
    text-decoration: none;
    color: #ffe;
}


/* MAIN */